<:Title>
  Todos

<:Body>
  <div class="row">
    <div class="col-md-6">
      {{ if !_todos.empty? }}
        <h1>Todo List ({{ _todos.size }})</h1>

        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary btn-xs" e-click="check_all">Check All ({{ incomplete }})</button>
          </div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ percent_complete }}%;" >
                {{ percent_complete }}%
              </div>
            </div>
          </div>
        </div>

        <table class="todo-table">
          {{ _todos.each do |todo| }}
              <tr e-click="params._index = index" class="{{ if params._index.or(0).to_i == index }}selected{{ end }}">
                <td><input type="checkbox" checked="{{ todo._completed }}"></td>
                <td class="{{ if todo._completed }}complete{{ end }}">{{ todo._name }}</td>
                <td class="text-right"><a e-click="remove_todo(todo)"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
              </tr>
          {{ end }}
        </table>

        <hr>
        {{ else }}
          <h3>No todo item.</h3>
        {{ end }}

        {{ if Volt.user }}
        <form e-submit="add_todo" role="form">
          <div class="form-group">
            <label>Add Todo</label>
            <input class="form-control" type="text" value="{{ _new_todo }}">
          </div>
        </form>
        {{ else }}
          <h3>Please login.</h3>
        {{ end }}
    </div>

    <div class="col-md-6">
      {{ if current_todo }}
        <h2>{{ current_todo._name }}</h2>
        <div class="text-muted">Created at {{ created_at(current_todo) }} by {{ owner(current_todo) }}</div>
        <form role="form">
          <div class="form-group">
            <textarea class="form-control">{{ current_todo._description }}</textarea>
          </div>
        </form>
      {{ end }}
    </div>
  </div>